<!-- All apartments with no coordinator table -->
<div class="position table-position"
     [ngClass]="{'scroll': apartmentsNoCoordinatorArray.length > 7}">
    <table>
        <thead>
            <tr>
                <!-- Name -->
                <th>שם</th>
                <!-- Phone number -->
                <th>טלפון</th>
            </tr>
        </thead>

        <tbody>
            <!-- Apartment details -->
            <tr *ngFor="let apartment of apartmentsNoCoordinatorArray"
                class="admin-tables"
                (click)="chooseApartment(apartment)"
                style="cursor: pointer; height: 50px;">

                <td>{{apartment.name}} </td>
                <td>{{apartment.phoneNumber}}</td>

            </tr>
        </tbody>

    </table>

</div>
<!-- A div with all the coordinators in the system selection & apartment name field 
    (for choosing witch apartment to add to witch coordinator) -->
<div *ngIf="showAddCoordinatorToApartmentDiv"
     class="position"
     style="top: 185px; left: 500px;">
    <label style="max-width: fit-content; color: #000;">רכז/ת</label>
    <select class="position"
            style="max-width: fit-content;"
            for="selectedCoordinator"
            id="selectedCoordinator"
            name="selectedCoordinator"
            class="form-control"
            [(ngModel)]="selectedCoordinator">
        <option *ngFor="let coordinator of coordinatorsInSystem"
                [ngValue]="coordinator">{{coordinator.shekelMember.firstName}} {{coordinator.shekelMember.lastName}}
        </option>
    </select>

    <!-- Apartment name field -->
    <label for="choosenApartment"
           style=" color: #000;"> דירה</label>
    <input style="width: 260px;  background-color: aliceblue;"
           type="text"
           id="choosenApartment"
           ngModel
           name="chosenApartment"
           class="form-control"
           [(ngModel)]="apartmentName"
           [disabled]="true">

    <!-- 'Add apartment to coordinator' button -->
    <button type="button"
            class="btn btn-success"
            (click)="addCoordinatorToApartment()"
            [disabled]="!showSubmitBtn">הוספת רכזת לדירה</button>
</div>
<!-- For showing error/success messages -->
<app-screen-msg-display *ngIf="msg !== ''"
                        [msgDisplay]="msg"></app-screen-msg-display>