<div>
    <div class="container">
        <!-- Form for changing user's password -->
        <form (ngSubmit)="onSubmit()">
            <div class="form-group">
                <!-- Password -->
                <label for="password">:סיסמה</label>
                <input type="password"
                       id="password"
                       ngModel
                       name="password"
                       class="form-control"
                       [(ngModel)]="password"
                       (focusout)="checkPassword()"
                       maxlength="30">
                <!-- Is displayed if user is typing less then 7 chars and leaves the password input field
                ('password needs to contain 7 chars') -->
                <p *ngIf="showPasswordError"
                   style="background-color: antiquewhite; color: red;">הסיסמה צריכה להכיל לפחות 7 תווים</p>
            </div>

            <div class="form-group">
                <!-- Confirm password -->
                <label for="confirmPassword">:אימות סיסמה</label>
                <input type="password"
                       id="confirmPassword"
                       ngModel
                       name="confirmPassword"
                       class="form-control"
                       [(ngModel)]="confirmPassword"
                       maxlength="30">
            </div>

            <div class="row">
                <!-- Submit button -->
                <button class="btn btn-primary"
                        type="submit"
                        [disabled]="password.length < 7 || confirmPassword.length < 7">אישור</button>

                <!-- Clear fields button -->
                <button class="btn btn-secondary"
                        type="button"
                        (click)="onClear()">ניקוי</button>

                <!-- Cancel operation button (showing the button only if password is not default) -->
                <button *ngIf="!defaultPassword"
                        class="btn btn-danger"
                        type="button"
                        (click)="onCancel()">ביטול</button>
            </div>
        </form>
    </div>
</div>