<!-- In case password is still default -->
<app-change-password-display *ngIf="!passwordUpdatedBoolean"
                             [defaultPassword]=true></app-change-password-display>

<div *ngIf="passwordUpdatedBoolean">
        <div *ngIf="detailsDisplay"
             [ngClass]="{'disable': toAddReplacement}">
                <!-- For user's details -->
                <app-user-start-display [shekelMember]="guide.shekelMember"
                                        [userTenants]="guideTenants"
                                        [isGuideUser]="true"></app-user-start-display>
                <div>
                        <!-- For navigating to 'replacement-table' component -->
                        <button [disabled]="!gotRequestArray"
                                class="btn btn-primary position requestBtn"
                                (click)="replacementsPage()">
                                <h1>החלפות</h1>
                        </button>
                </div>
        </div>

        <!-- For adding replacements requests/offers -->
        <app-add-replacement-request-or-offer *ngIf="toAddReplacement"
                                              [kindOfReplacement]="kindOfReplacement"
                                              [guide]='guide'></app-add-replacement-request-or-offer>

        <div [ngClass]="{'disable': toAddReplacement}">
                <router-outlet></router-outlet>
        </div>
</div>